<#include "/common/layout_dl.html">
<@header>
</@header>
<@body>
<form class="form-horizontal layui-form layui-form-pane" method="post" action="/system/user/doAdd">
   <div class="box-body">
     <div class="form-group">
       <label for="uname" class="col-sm-2 control-label">用户名</label>
       <div class="col-sm-10">
      		<input type="text" id="uname" name="userName" class="form-control" placeholder="请输入用户名" lay-verify="required|username|check" check-url="/system/user/checkName">
     	</div>
     </div>
     <div class="form-group">
       <label for="password"  class="col-sm-2 control-label">密码</label>
        <div class="col-sm-10">
       <input type="password" class="form-control" id="password" name="password" placeholder="请输入密码" lay-verify="required|pass">
     	</div>
     </div>
     <div class="form-group">
       <label for="password2" class="col-sm-2 control-label">确认密码</label>
        <div class="col-sm-10">
       <input type="password" class="form-control" id="password2" name="password2" placeholder="请再次输入密码" lay-verify="required|pass|eqPwd">
     	</div>
     </div>
       <div class="form-group">
           <label class="col-sm-2 control-label">所在省份</label>
           <div class="col-sm-10">
               <select name="province" id="province" class="form-control select2" lay-ignore style="width: 100%;"
                       lay-verify="required">
                   <option value="">--请选择--</option>
                   <#list provinces as p>
                   <option name="province" id="${(p.value)}" value="${(p.value)}">
                       ${(p.name)!}
                   </option>
                   &nbsp;
               </#list>
               </select>
           </div>
       </div>
       <div class="form-group">
           <label class="col-sm-2 control-label">所在市</label>
           <div class="col-sm-10">
               <select name="city" id="city" class="form-control select2" lay-ignore style="width: 100%;"
                       lay-verify="required">
                   <option value="" selected="selected">--请选择--</option>
                   <#list cities as c>
                   <option name="city" id="${(c.value)}" value="${(c.id)}">
                       ${(c.name)!}
                   </option>
                   &nbsp;
               </#list>
               </select>
           </div>
       </div>
       <div class="form-group">
           <label class="col-sm-2 control-label">所在区县</label>
           <div class="col-sm-10">
               <select name="area" id="area" class="form-control select2" lay-ignore style="width: 100%;"
                       lay-verify="required">
                   <option value="">--请选择--</option>
                   <#list areas as a>
                   <option name=""  value="${(a.id)}">
                       ${(a.name)!}
                   </option>
                   &nbsp;
               </#list>
               </select>
           </div>
       </div>
     <div class="form-group">
            <label class="col-sm-2 control-label">描述</label>
             <div class="col-sm-10">
            <textarea class="form-control" name="userDesc" rows="3" placeholder="请输入描述，最多300个字符 ..." ></textarea>
          	</div>
          </div>
     <div class="form-group">
     	  <label class="col-sm-2 control-label">状态</label>
          <div class="col-sm-10">
         <label>
             <input name="userState" type="radio" class="minimal" checked value="1" lay-ignore> 启用
            </label>
         <label>
             <input name="userState" type="radio" class="minimal"  value="-1" lay-ignore> 禁用
            </label>
          </div>
        </div>
        <div class="form-group">
        	<label class="col-sm-2 control-label">角色</label>
        	 <div class="col-sm-10">
        	<#list roleList as role>
          <label title="${(role.roleDesc)!}">
              <input type="radio" name="roleId" class="minimal" value="${(role.id)!}" lay-ignore>
            	${(role.roleName)!}
          </label>
          &nbsp;
          </#list>
          </div>
        </div>
         <div class="form-group">
         		<label class="col-sm-2 control-label">&nbsp;</label>
         		 <div class="col-sm-10">
         		 	<button type="submit" class="btn btn-success" lay-submit lay-filter="submit"><i class="fa fa-save"></i>  提 交</button>
   		  </div>
         </div>
     </div><!-- /.box-body -->
 </form>
</@body>
<@footer>
</@footer>
<script>
    $("#province").on('change',function(){
        $("#city").empty();
        var pid = $(this).find("option:selected").attr("id");
        if(pid) {
            $.get('/address/city/provinceCode/'+pid, function (response) {
                if (response.code == 200) {
                    $("#city").select2({
                        data: response.data
                    });
                }
            });
        }
    });
    $("#city").on('change',function(){
        $("#area").empty();
        var pid = $(this).find("option:selected").val();
        if(pid) {
            $.get('/address/city/area/'+pid, function (response) {
                if (response.code == 200) {
                    $("#area").select2({
                        data: response.data
                    });
                }
            });
        }
    });
</script>